html{
    font-size: 100%;
}

img{
    width: 100%;
}



/* HEADER */
header{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
}
/* header-top */
.ms-header-top{
    background-color: black;
    height: 80px;
    width: 100%;
}

.ms-header-top img{
    width: 100px;
}
/* /header top */

/* header bottom */
.ms-navbar .ms-btn{
    border-radius: 50px;
}

/* /header bottom */

/* /HEADER */

/* JUMBOTRON */
#jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    padding-top: 200px;
    margin-top: 180px;
}
#jumbotron img{
    width: 300px;
}

.jumbo-text *{
    margin: 0.5em;
}

/* /JUMBOTRON */

/* SHOWCASE */
/* showcase top */
.text-showcase-top{
    margin-bottom: 3rem;
}

.text-showcase-top p:first-child { 
    color: blue;
    margin: 0;
}



/* showcase bottom */
.text-showcase-bottom .ms-btn-blue{
    border-radius: 50px;
    background-color: blue;
    color:white;
}
/* /SHOWCASE */

/* ACCESORIES */
#accesories{
    margin: 100px 0;
}

#accesories .card{
    border: none;
}


#accesories img{
    opacity: 0.5;
}

#accesories img:hover{
    border-bottom: 4px solid blue;
    border-radius: none;
    opacity: 1;
}
/* /ACCESORIES */


/* LIBRARY */
#library{
    margin: 2rem;
}


#library img{
    border-radius: 20px;
    padding: 2px;
}

#library img:hover{
    border: 2px solid blue;
}


#library .card{
    border: none;
    padding: 50px 0;
    transition: padding 0.5s;

}

#library .card:hover{
    padding-top: 30px;
}

/* /LIBRARY */


/* BANNER */
#banner{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    padding: 50px;

}

#banner img{
    width: 300px;
}

#banner .ms-btn-orange{
    border-radius: 50px;
    background-color: orange;
    color:white;

}

/* /BANNER */

/* NEW RELEASES */
#new-releases{
    background-color: #1f1f1f;
    color: white;
}

#new-releases .card{
    background-color: #1f1f1f;
  
}
/* /NEW RELEASES */

/* PLUS */
#plus{
    background-color: grey;
   
}

/* /PLUS */

/* NOW */
#now{
    background-color: #161c3b;
    color: white;
}
/* /NOW */