html{
    font-size: 100%;
}

img{
    width: 100%;
}

/* HEADER */

/* header-top */
.ms-header-top{
    background-color: black;
    height: 80px;
    width: 100%;
}

.ms-header-top img{
    width: 100px;
}
/* /header top */

/* header bottom */

/* /header bottom */

/* /HEADER */

/* JUMBOTRON */
#jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 500px;
}
#jumbotron img{
    width: 300px;
}

.jumbo-text *{
    margin: 0.5em;
}


/* /JUMBOTRON */

/* LIBRARY */

#library{
    margin: 2rem;
}


#library img{
    border-radius: 20px;
    padding: 2px;
}

#library img:hover{
    border: 2px solid blue;
}


#library .card{
    border: none;
    padding-top: 50px;
    transition: padding 0.5s;

}

#library .card:hover{
    padding-top: 30px;
}





/* /LIBRARY */


/* BANNER */
#banner{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#banner img{
    width: 300px;
}
/* /BANNER */

/* NEW RELEASES */
#new-releases{
    background-color: #1f1f1f;
    color: white;
}

#new-releases .card{
    background-color: #1f1f1f;
  
}
/* /NEW RELEASES */

/* PLUS */
#plus{
    background-color: grey;
   
}

/* /PLUS */

/* NOW */
#now{
    background-color: #161c3b;
    color: white;
}
/* /NOW */