html{
    font-size: 100%;
}

img{
    width: 100%;
}

/* HEADER */

/* header-top */
.ms-header-top{
    background-color: black;
    height: 80px;
    width: 100%;
}

.ms-header-top img{
    width: 100px;
}
/* /header top */

/* header bottom */

/* /header bottom */

/* /HEADER */

/* JUMBOTRON */
#jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;

    height: 500px;
}
#jumbotron img{
    width: 300px;
}

.jumbo-text *{
    margin: 0.5em;
}


/* /JUMBOTRON */

/* LIBRARY */

#library{
    margin: 2rem;
}
#library img{
    border-radius: 20px;
}
/* /LIBRARY */